<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{page.title}}</title>
    
    <link rel="stylesheet" href="{{ '/vendor/foundation.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url}}">
    <link rel="stylesheet" href="https://use.typekit.net/wax0qbs.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="bg" style="background-image: url(' {{"/images/bg.jpg" | relative_url }} ');"></div>
    <div class="map">{% include map.html %}</div>

    <div class="wrapper header">
      <div class="logo">
        <a href="/"><img src="{{ '/images/logo-blue-white.png' | relative_url }}" alt="IODC18"></a>
      </div>
      
      <div class="social-media">
        <a target="_blank" href="https://www.youtube.com/channel/UC8cKSDSxKSbOnKliM_MhZmQ"><img src="{{ '/images/youtube.png' | relative_url }}" alt="youtube icon"></a>
        <a target="_blank" href="https://www.facebook.com/opendatacon/"><img src="{{ '/images/facebook.png' | relative_url }}" alt="facebook icon"></a>
        <a target="_blank" href="https://twitter.com/opendatacon"><img src="{{ '/images/twitter.png' | relative_url }}" alt="twitter icon"></a>
        <a target="_blank" href="https://www.flickr.com/photos/144810968@N02/albums"><img src="{{ '/images/flickr.png' | relative_url }}" alt="flickr icon"></a>
      </div>
      <div class="lang">
        <a class="lang-en lang--active" href="#">EN</a> | <a class="lang-es" href="#">ES</a>
      </div>

    </div>
      
      {{content}}
      
    <div id="overlay" class="js-overlay"></div>
    <script src="{{'/vendor/jquery-2.1.4.min.js' | relative_url}}"></script>
    <script src="{{'/vendor/slick.min.js' | relative_url}}"></script>
    <script src="{{'/js/scripts.js' | relative_url}}"></script>
  </body>
</html>
