body {
  background-color: #0e0f13;
}

main {
  color: white;
  font-family: 'Plau', sans-serif;
}

a {
  text-decoration: none;
  transition: 0.5s all;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

.bg {
  background-color: #0e0f13;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.wrapper {
  padding: 0 40px;
  text-align: center;
}

.section {
  border-top: 1px dotted $yellow;
  padding: 30px 0;

  @include breakpoint($medium-up) {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }  

  > * { margin: 0; }

  > * + * { margin-bottom: 10px; }
}

.button {
  display: block;
  border: 1px solid $blue;
  margin-bottom: 10px;
  padding: 7px;
  text-align: center;
  font-size: 1.3rem;
  color: white;

  @include breakpoint($medium-up) {
    display: inline-block;
    padding: 20px 30px;
    margin: 10px;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: rgba($blue, .2);
  }
}